// ----------------------------------------
// Acoustic Template: LESS > Fork Variables
// ----------------------------------------


// Page Styles
// ----------------------------------------

.main-content {
    @media @tablet {
        margin-top: 30px;
    }
    @media @mobile {
            margin-top: 90px;
    }
}

.hero {
    position: relative;
}

.hero-logo {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 50%; 
    margin: auto;
    z-index: 10001;
    padding: 20px;
    width: 100%;
    min-height: 200px;
    .flex-display;
    .flex-direction(column);
    .justify-content(center);
}

.feature__content-wrap,
.feature__background-image {
    height: 100vh;
    @media @tablet {
        height: 900px;
    }
    @media @mobile {
        height: 600px;
    }
}

.feature__background-image {
    min-height: 100%;
}


// Template Header
// ----------------------------------------

.page--default .template-header {
    background-color: @color-swatch3;
}

.page--default .template-header .flex-item:first-child {
    width: 33.33%;
    @media @mobile {
        width: 50%;
    }
}

// For default page and when feature is hidden
.widget[data-widget-type="feature"].bk-tpl-hidden + .template-header,
.page--default .template-header {
        .navigation-toggle {
        background-color: @color-swatch1;

        &:after, &:before {
            background: @color-swatch1;
        }
        .page--default .template-header .profile .tweet-content a {
            color: #595959;
        }
    }
}

.widget[data-widget-type="feature"].bk-tpl-hidden + .template-header,
.page--default .template-header {
    .profile {
        p, h2, h3,
        .phone-number-link,
        .company-link,
        .social-link:before,
        .emailaddress__email,
        .button {
            color: @color-swatch1;
        }
    }
}

.widget[data-widget-type="feature"].bk-tpl-hidden + .template-header .profile .button {
    top: 0px;
}

// For home page and when feature is hidden
.widget[data-widget-type="feature"].bk-tpl-hidden + .template-header + .hero-logo {
    background-color: @color-swatch3;
    position: relative;
}

// For home page and when feature is hidden
.widget[data-widget-type="feature"].bk-tpl-hidden + .template-header + .hero {
    height: 100%;
}

// For home page and when feature is hidden
.widget[data-widget-type="feature"].bk-tpl-hidden + .template-header {
    background-color: @color-swatch3;
}

.page--default .template-header .profile .input {
    color: @color-swatch1;
}

.page--default .template-header .profile .button {
    top: 0px;
    border-right: 2px solid #e6e6e6;
    border-top: 2px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
}

.page--default .template-header .company-link {
    color: @font-swatch10-color;
}

.template-header {
    padding: 20px 10px 20px 20px;
    width: 100%;
    @media @tablet {
        padding: 0px 0px 0px 20px;
        background-color: @color-swatch3;
        border: 0;
    }
    .profile {
        .input {
            border: 2px solid #e6e6e6;
        }
        .button {
            border-right: 2px solid #e6e6e6;
            border-top: 2px solid #e6e6e6;
            border-bottom: 2px solid #e6e6e6;
        }
    }
}

.template-header .profile .signupform {
    margin-left: 0;
}

.template-header .profile .button {
    top: 0;
    @media @tablet {
        line-height: 40px;
    }
}
.page--default {
    .template-header .profile .button {
        top: 0;
        @media @tablet {
            line-height: 40px;
        }
    }
}


.template-header .flex-item:first-child {
    @media @medium {
        width: 50%;
    }
}

.template-header .flex-item:nth-child(2) {
    margin-top: 0;
}

.flex-item {
    @media @tablet {
        background-color: @color-swatch3!important;
        border: 0!important;
    }
}

@media only screen and (max-width: 650px) {
    .template-header {
        padding: 0 0 0 10px;
    }
}

.template-header .profile {
    @media @mobile {
        padding-left: 0px;
    }
}


// Navigation
// ----------------------------------------

.widget__extendednavigation.open:after {
    background-color: @color__feature-content--background;
}

.navigation-list--children {
    background-color: lighten(@color__feature-content--background, 10%);
}

.navigation-item .item-name:hover {
    color: @color__navigation--text--selected;
}


// Feature
// ----------------------------------------

.feature__content-wrap {
    position: relative;
    z-index: 2;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    -ms-align-items: center;
}

.feature__content-inner-wrap {
    max-width: 100%;
    background-color: black;
    padding: 10px 0px 20px;
}

.feature__headline,
.feature__strapline {
    max-width: 50%;
    margin: 10px auto;
    @media @tablet {
        max-width: 75%;
    }
    @media @mobile {
        max-width: 100%;
    }
}

.feature__content-wrap {
    padding: 0;
}

.feature__button {
    margin-top: 0;
    font-size: 12px;
}

.feature__headline {
    @media @bp-global-medium {
        max-width: 100%;
        margin: 10px 0;
        font-size: @font__feature-headline--font-size;
        line-height: @font__feature-headline--line-height;
    }
    @media @tablet {
        font-size: @font__feature-headline--font-size;
        line-height: @font__feature-headline--line-height;
    }
    @media @mobile {
        font-size: @font__feature-headline--font-size;
        line-height: @font__feature-headline--line-height;
    }

}


// Extras
// ----------------------------------------

.social-link:before {
    font-size: 14px;
}

.widget-profile-header {
    .map__embed-wrap {
        width: 300px;
    }
}


// Ecommerce
// --------------------------------

.product-gallery .gallery-item {
    max-height: 100%;
}

.product-gallery .image-button {
        height: 100%;
}
